<h1>Google Cloud Platform - Audiobook It!</h1>

<p>This Python Flask application demonstrates App Engine Flexible, Google Cloud
Storage, Datastore, and the Cloud Vision API.</p>

<br>

<html>
  <body>
	  <figure>
		  <figcaption>Listen to your audiobook!</figcaption>
            <audio controls>
                <source 
                    src={{ url_for('static', filename=filename ) }} 
                    type="audio/mpeg"
                >
                Your browser does not support the audio element.
            </audio>
	  </figure>
	  <br>
	  <form action="/">
		  <input type="submit" value="Audiobook It Again!"/>
          </form>
  </body>
</html> 
