<html>
  <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-s268{text-align:left}
    .myButton {
       -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
       -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
       box-shadow:inset 0px 1px 3px 0px #91b8b3;
       background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
       background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
       background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
       background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
       background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
       background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
       background-color:#768d87;
       -moz-border-radius:5px;
       -webkit-border-radius:5px;
       border-radius:5px;
       border:1px solid #566963;
       display:inline-block;
       cursor:pointer;
       color:#ffffff;
       font-family:Arial;
       font-size:15px;
       font-weight:bold;
       padding:11px 23px;
       text-decoration:none;
       text-shadow:0px -1px 0px #2b665e;
    }
  </style>
  <body>

  <h1>Audiobook It!</h1>
  <hr>
  <p>This application, built with several APIs in Google Cloud Platform, will take a small image of text or a small spoken word recording and translate it into an a spoken word recording in another language.<p>

  <p>If you don't have any images of text or spoken word recordings to upload, you can also get a random piece of advice from <a href="https://api.adviceslip.com/" target="_blank">the advice slip API</a> and have that read aloud in an output language of your choice.<p>
  <hr>
    <h2>Input</h2>
    <form action="gen_audiobook" method="POST" enctype="multipart/form-data">
      <table class="tg">
        <tr>
          <th class="tg-s268">Upload File</th>
          <th class="tg-s268"><input type="file" name="file"></th>
        </tr>
        <tr>
          <td class="tg-s268">File Input Language</td>
          <td class="tg-s268">      
            <select name="input_lang">
              {% for i_language in languages['input'] %}
                <option value={{i_language}}>{{i_language}}</option><br>
              {% endfor %}
            </select>
          </td>
        </tr>
      </table>
      <br>
      OR Select Random Advice
      <br><br>
      <table class="tg">
        <tr>
          <th class="tg-s268">Random Advice</th>
          <th class="tg-s268"><input type="checkbox" name="advice" value="True"></th>
        </tr>  
      </table>
      <p>Note: An audio file must in the WAV format and images must be either PNG or JPG.<p>
      <hr>
      <h2>Output</h2>
      <table class="tg">
        <tr>
          <th class="tg-s268">Audiobook Output Language</th>
          <th class="tg-s268">
            <select name="output_lang">
              {% for o_language in languages['output'] %}
                <option value={{o_language}}>{{o_language}}</option><br>
              {% endfor %}
            </select>
          </th>
        </tr>  
      </table>
      <br>
      <hr>
      <input type="submit" name="submit" class="myButton" value="Generate Audiobook">
      <br>
    </form>
  </body>
</html> 
